<h2>Update</h2>

Title: <input type="text" id="title2" size="30" [(ngModel)]="xdoc.title" >

Year: <input type="number" name="publishedYear" maxlength="4" [(ngModel)]="xdoc.publishedYear" />

Authors: <input type="text" name="authors" />
Categories:  <input type="text" name="authors" />

<button (click)="update()" class="btn btn-primary">
  <!-- md-icon>settings_backup_restore</md-icon> -->
  <span>Update</span>
</button>

<button (click)="remove_view()" class="btn btn-primary">
  <!-- md-icon>settings_backup_restore</md-icon> -->
  <span>Cancel</span>
</button>
