<h2>Update</h2>

Title: <input type="text" name="title" size="30" />
Year: <input type="number" name="publishedYear" maxlength="4" />
Authors: <input type="text" name="authors" />
Categories:  <input type="text" name="authors" />

<button (click)="update()" class="btn btn-primary">
  <!-- md-icon>settings_backup_restore</md-icon> -->
  <span>Update</span>
</button>

<button (click)="remove_view()" class="btn btn-primary">
  <!-- md-icon>settings_backup_restore</md-icon> -->
  <span>Remove View</span>
</button>
