<h2>{{title}}</h2>

Title: <input type="text" id="title2" size="30" [(ngModel)]="xdoc.title">

Year: <input type="number" name="publishedYear" maxlength="4" [(ngModel)]="xdoc.publishedYear"/>

Authors: <input type="text" name="authors" [(ngModel)]="xdoc.authors"/>

Categories:  <input type="text" name="cats"/>

<p></p>

Location: <small><small>{{docRepoBaseUri}}</small></small>
    <input type="text" id="location" size="80" [(ngModel)]="xdoc.location"/>

Date added: <input type="text" id="timestamp" size="20" [(ngModel)]="xdoc.timestamp"/>
<p></p>

<button (click)="create()" class="btn btn-primary">
    <i class="material-icons">create</i>
    <span>Create</span>
</button>

<button (click)="cancel_view()" class="btn btn-primary">
    <i class="material-icons">cancel</i>
    <span>Cancel</span>
</button>

<app-document-display [docUrl]="getContentURI(xdoc)" [page]="1" [rotation]="0" [zoom]="0.5"></app-document-display>