<h2>Delete</h2>

Title: <input type="text" id="title2" size="30" [(ngModel)]="xdoc.title" />

Year: <input type="number" name="publishedYear" maxlength="4" [(ngModel)]="xdoc.publishedYear" />

Authors: <input type="text" name="authors" />
Categories:  <input type="text" name="authors" />

<button (click)="delete()" class="btn btn-primary">
  <!-- md-icon>settings_backup_restore</md-icon> -->
  <span>Really Delete</span>
</button>

<button (click)="cancel_view()" class="btn btn-primary">
  <!-- md-icon>settings_backup_restore</md-icon> -->
  <span>Cancel</span>
</button>
