<button (click)="create()" class="btn btn-primary">
    <i class="material-icons">create</i>
    <span>Create new document</span>
</button>
<button (click)="categories()" class="btn btn-primary">
    <i class="material-icons">ballot</i>
    <span>Manage categories</span>
</button>

<h2>{{title}}</h2>

<mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="authors">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Author(s) </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.authors}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="publishedYear">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Published </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.publishedYear}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <a href="{{row.location}}"><small>{{row.location}}</small></a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="categories">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Categories </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <app-category-display [doc]="row"></app-category-display>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row" >
            <button mat-button (click)="update(row)"><i class="material-icons">edit</i>Update</button>
            <button mat-button (click)="delete(row)"><i class="material-icons">delete_forever</i>Delete</button>
        </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="rowClicked(row)"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

<!-- <table class="xdocs" width="100%">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Year</th>
        <th>Link</th>
        <th>Selflink</th>
        <th>Categories</th>
        <th>Operations</th>
    </tr>
    <tr *ngFor="let xdoc of xdocs; let i = index">
        <td>
            <span class="xdoc">{{i}}</span>
        </td>
        <td>
            <span class="xdoc">{{xdoc.title}}</span>
        </td>
        <td>
            {{xdoc.publishedYear}}
        </td>
        <td>
            <a href="{{xdoc.location}}">LINK</a>
        </td>

        <td>
            <a href="{{xdoc._links.self.href}}">SELF</a>
        </td>

        <td>
            <app-category-display [doc]="xdoc"></app-category-display>
        </td>

        <td>
            <button (click)="delete(i)" class="btn btn-primary">
                <span>Delete</span>
            </button>
            <button (click)="update(i)" class="btn btn-primary">
                <span>Update</span>
            </button>
        </td>
</table> -->