

<button (click)="create()" class="btn btn-primary">
  <!-- md-icon>settings_backup_restore</md-icon> -->
  <span>Create new document</span>
</button>

<h2>Documents</h2>
<table class="xdocs">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Year</th>
    <th>Link</th>
    <th>Operations</th>
  </tr>
  <tr *ngFor="let xdoc of xdocs; let i = index">
    <td>
      <span class="xdoc">{{i}}</span>
    </td>    <td>
      <span class="xdoc">{{xdoc.title}}</span>
    </td>
    <td>
      {{xdoc.publishedYear}}
    </td>
    <td>
      <a href="{{xdoc.location}}">LINK</a>
    </td>
    <td>
      <button (click)="update(i)" class="btn btn-primary">
        <!-- md-icon>settings_backup_restore</md-icon> -->
        <span>Update</span>
      </button>
    </td>
  </tr>
</table>