
<button (click)="create()" class="btn btn-primary">
  <i class="material-icons">create</i>
  <span>Create new category</span>
</button>
<button (click)="back()" class="btn btn-primary">
  <i class="material-icons">cancel</i>
  <span>Back</span>
</button>

<h2>{{title}}</h2>
<table class="xcats">
  <tr>
    <th>Id</th>
    <th>Category</th>
    <th>Selflink</th>
    <th>Operations</th>
  </tr>

<tr *ngFor="let xcat of categories; let i = index">
  <td>
    <span class="xcat">{{i}}</span>
  </td>
  <td>
    <span class="xcat">{{xcat.category}}</span>
  </td>

  <td>
    <a href="{{xcat._links.self.href}}">SELF</a>
  </td>

  <td>
    <button (click)="update(i)" class="btn btn-primary">
      <i class="material-icons">edit</i>
      <span>Update</span>
    </button>
  </td>
</tr>

</table>